div.column-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
}

section.task-column {
    background-color: lightgray;
    color: black;
    padding: 0 10px;
    border-radius: 5px;
    text-align: left;
    flex: 1;
}

div.task-card-container {
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

div.task-card-container p {
    text-align: left;
}

/* Form CSS */
.form-container h3:hover {
    color: rgba(0, 0, 0, 0.706);
    cursor: pointer;
}

form {
    padding: 5px;
    margin-bottom: 20px;
}

form input, form textarea {
    width: 100%;
    background-color: white;
    color: black;
    border: none;
    margin-bottom: 10px;
}

form label {
    font-weight: 700;
}

form input {
    height: 30px;
}

form textarea {
    height: 50px;
}
